name: Build Windows

on:
  repository_dispatch:
  push:
  # schedule: 
  #   - cron: '0 0 * * *'

jobs:
  build:
    runs-on: 'windows-2019'
    steps:
    - name: Checkout rpi-imager
      uses: actions/checkout@v2
    - name: install msys2
      uses: msys2/setup-msys2@v2
      with:
        msystem: mingw32
        install: >-
          mingw-w64-i686-openssl
          make
          perl
        location: C:\msys2
    - name: Upgrade aqtinstall
      run: |
          pip install --upgrade aqtinstall
      shell: cmd
      
    - name: Install Qt
      uses: jurplel/install-qt-action@v2
      with:
        version: '5.15.2'
        host: 'windows'
        target: 'desktop'
        arch: 'win32_mingw81'
        install-deps: 'true'
        setup-python: 'true'
        cached: 'false'
        dir: ${{ github.workspace }}/qt/
    - name: Copy OpenSSL
      # shell: msys2 {0}
      shell: cmd
      # D:\a\pi-imager\Qt\5.15.2\mingw81_32\bin\
      run: |
          echo %Qt5_Dir%
          echo "echo dir"
          dir "%Qt5_Dir%"
          echo "copy"
          copy "C:\msys2\msys64\mingw32\bin\libssl-1_1.dll" "%Qt5_Dir%\bin\"
          copy "C:\msys2\msys64\mingw32\bin\libcrypto-1_1.dll" "%Qt5_Dir%\bin\"
    - name: Configure test project on windows
      env:
        QT_VERSION: '5.15.2'
      shell: cmd
      #run: |
          #dir "%programfiles(x86)%\Microsoft Visual Studio\"
          #call "%programfiles(x86)%\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvars32.bat"
          #IF "%QT_VERSION:~0,1%"=="5" ( dir %Qt5_DIR%\lib\cmake ) ELSE ( dir %Qt6_DIR%\lib\cmake )
          #qmake
      run: |

          dir "C:\qt"
          
          set OPENSSL_ROOT_DIR=C:\msys2\msys64\mingw32
          set OPENSSL_CRYPTO_LIBRARY=C:\msys2\msys64\mingw32\lib\libssl.a
          set OPENSSL_INCLUDE_DIR=C:\msys2\msys64\mingw32\include
          set OPENSSL_VERSION=1.1.1m
          
          dir "C:\msys2\msys64\mingw32"
          echo "OpenSSL root dir:"
          echo %OPENSSL_VERSION%
          
          
          echo "cmake version:"
          cmake --version
          
          echo "openssl version:"
          C:\msys2\msys64\mingw32\bin\openssl version
          
          
          mkdir build
          cd build
          cmake -DOPENSSL_ROOT_DIR="C:\msys2\msys64\mingw32" -DOPENSSL_CRYPTO_LIBRARY="C:\msys2\msys64\mingw32\lib\libssl.a" -DOPENSSL_INCLUDE_DIR=C:\msys2\msys64\mingw32\include -D_OPENSSL_VERSION=1.1.1m ..
