name: Build Windows

on:
  repository_dispatch:
  push:
  # schedule: 
  #   - cron: '0 0 * * *'

jobs:
  build:
    runs-on: 'windows-2019'
    steps:
    - name: Checkout rpi-imager
      uses: actions/checkout@v2
      
    - name: Upgrade aqtinstall
      run: |
          pip install --upgrade aqtinstall
      shell: cmd
      
    - name: Install Qt
      uses: jurplel/install-qt-action@v2
      with:
        version: '5.15.2'
        host: 'windows'
        target: 'desktop'
        arch: 'win32_mingw81'
        install-deps: 'true'
        setup-python: 'true'
        cached: 'false'
    - name: Download the file
      uses: suisei-cn/actions-download-file@v1
      id: downloadfile  # Remember to give an ID if you need the output filename
      with:
        url: "https://www.openssl.org/source/openssl-1.1.1m.tar.gz"
        target: openssl/
    - name: Build OpenSSL
      shell: bash
      run: |
          cd openssl
          dir
          
          tar xzvf openssl-1.1.1m.tar.gz
          cd openssl-1.1.1m
          echo "run configure"
          ./Configure --prefix=$PWD/dist no-idea no-mdc2 no-rc5 shared mingw
          perl .\Configure --banner=Configured no-makedepend mingw
          perl configdata.pm --dump
          echo "where gcc"
          where gcc
          echo "run make depend"
          make depend
          echo "run make"
          make
          
          cd ..
          cd ..
      
        
    - name: Configure test project on windows
      env:
        QT_VERSION: '5.15.2'
      shell: cmd
      #run: |
          #dir "%programfiles(x86)%\Microsoft Visual Studio\"
          #call "%programfiles(x86)%\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvars32.bat"
          #IF "%QT_VERSION:~0,1%"=="5" ( dir %Qt5_DIR%\lib\cmake ) ELSE ( dir %Qt6_DIR%\lib\cmake )
          #qmake
      run: |
      
          dir "C:\qt"
          
          mkdir build
          cd build
          cmake ..
